* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Red Hat Display';
}

.meet-header-container {
    text-align: center;
    margin: 4rem 0;
}

/* beginning of hero-section */

.left-hero-section {
    min-height: 30vh;
    margin-bottom:4rem;
}

.middle-hero-section {
    max-width: 500px;
    text-align:center;
    margin:auto;
}


.left-hero-section {
    background-image: url('./assets/tablet/image-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.middle-hero-section h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.middle-hero-section p {
    color: #87879D;
    line-height: 2;
    margin: 15px;
}

.hero-section-download-button {
    background-color: #4D96A9;
}

.hero-section-download-button span {
    color: #8FE3F9;
}

.hero-section-question-button,
.footer-download-button {
    background-color: #855FB1;

}

.middle-hero-section button,
.right-footer-side button {
    border: none;
    padding: 20px;
    border-radius: 30px;
    font-weight: 900;
    color: #fff;
}

.button-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 5rem;
}

/* end of hero-section */


/* beginning of info section */
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-info-section,
.bottom-info-number {
    border: 2px solid #87879D;
    color: #87879D;
    border-radius: 50%;
    padding: 15px;
    max-width: 56px;
    height: 56px;
    position: relative;
}

.top-info-section p,
.bottom-info-number p {
    font-weight:900;
}

.top-info {
    margin-bottom: 4rem;
}

.top-info-section::before,
.bottom-info-number::before {
    content: "";
    display: block;
    border-left: 2px solid #87879D;
    height: 70px;
    position: absolute;
}

.bottom-info-number {
    margin-top: 6rem;
    top: 35px;
    background-color: #fff;
}

.top-info-section::before {
    left: 25px;
    bottom: 54px;
}

.bottom-info-number::before {
    left: 25px;
    bottom: 54px;
}

.middle-info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-row-gap: 20px;
    grid-column-gap:20px;
    margin: 6rem 0;
}

.middle-info-section img {
    width: clamp(150px, 155px, 500px);
    margin: 0 auto;
    border-radius:10px;
}

.bottom-info-section {
    text-align: center;
    padding: 10px;
}

.bottom-info-section .info-header {
    color: #4D96A9;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
}

.bottom-info-section h2 {
    font-size: 40px;
    margin: 20px 0;
    text-transform: capitalize;
}

.bottom-info-section .info-details {
    color: #87879D;
    line-height: 1.5;
    margin: 20px 0;
}

/* end of info section */


/* beginning of footer */
footer {
    background-image: url('./assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(77, 150, 168);
    background-blend-mode: multiply;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-height: 20vh;
    align-items: center;
    padding: 4rem 5rem;
}

footer div {
    margin: 15px 0;
}

.footer-download-button span {
    color: #D9B8FF;
}

.left-footer-side h2 {
    font-size: 40px;
}

.left-footer-side {
    margin-top: 20px;

}

.middle-footer-side {
    line-height: 2;
}

/* end of footer */



/* media query section for tablet */

@media (min-width:800px) {

    .left-hero-section {
        min-height: 30vh;
        margin-bottom:4rem;
    }

    .middle-hero-section {
        max-width: 500px;
        text-align:center;
        margin:auto;
    }

    .button-alignment {
        flex-direction: row;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .middle-info-section {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        margin: 5rem 4rem;
    }

    .middle-info-section img {
        width: clamp(150px, 80%, 500px);
    }

    .bottom-info-section {
        max-width: 570px;
    }

}


@media (min-width:1100px) {

    footer {
        background-image: url('./assets/desktop/image-footer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgb(77, 150, 168);
        background-blend-mode: multiply;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        min-height: 20vh;
        align-items: center;
        padding: 4rem 5rem;
    }
}

@media (min-width:1366px) {

    footer {
        justify-content: space-around;
        height: 308px;
    }

    footer div {
        width: 400px;
    }

    .hero-section-download-button:hover {
        background-color: #8FE3F9;
        cursor:pointer;
    }

    .hero-section-question-button:hover {
        background-color: #B18BDD;
        cursor:pointer;
    }

    .hero-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-bottom: 10rem;
        text-align:center;
        height:500px;
        /* grid-gap:50px; */
        /* flex-direction:row;
        margin-bottom:5rem;
        gap:50px; */
    }

    .middle-hero-section {
        margin:auto;
    }

    .left-hero-section {
            height:100%;
            /* width: 80%; */
            background-image: url('./assets/desktop/image-hero-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    }

       .right-hero-section {
            /* width: 80%; */
            background-image: url('./assets/desktop/image-hero-right.png');
            /* height:40vh; */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    }
}